################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cryptalyze/obj/Debug
/CryptSharp/obj/Debug
/CryptSharp.Test/obj/Debug
/CryptSharpAnalysis/obj/Debug
/Cryptalyze/bin/Debug
/CryptSharp.Test/bin/Debug
/CryptSharpAnalysis/bin/Debug
/CryptSharp/bin/Debug
/.vs/CryptSharp/v14
