################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cryptalyze/obj/Debug
/CryptSharp/obj/Debug
/CryptSharp.Test/obj/Debug
/CryptSharpAnalysis/obj/Debug
